import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import random
import seaborn as sns
from scipy.stats import norm
from scipy.stats import chi2
import seaborn as sns
from scipy.stats import shapiro
from scipy.stats import spearmanr
import statsmodels.api as sm